

@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('../fonts/sourcesanspro-semibold-webfont.eot');
    src: url('../fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('../fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
html{
	height:100%;
	min-height:100%;
}

body{
	background:url(../images/bg.png) no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:source_sans_proregular;
  height:100%;
  min-height:100%;
  margin:0;
  padding:0;

	
}

.container{
	margin:auto;
	width:1105px;
	padding-left:25px;
	padding-right:25px;
}


header.home{
	padding-top:100px;
	
}

.logo{
	text-align:center;
	  margin-bottom: -128px;
}
.login-wrapper{
	background:rgba(218,196,173,.5);
	width:600px;
	margin:auto;
	
}
.login-box {
  background: rgba(0, 0, 0, 0) url("../images/login-box-bg.png") repeat-x scroll center center / contain ;
  padding: 120px 120px 83px;
}

p.register-text{
	text-align:right;
	font-size:11px;
	color:#fff;
	
}
.login-box h5{
	margin:0;
	color:#fff;
	font-size:18px;
	font-weight:normal;
	font-family:source_sans_prosemibold;
	
}
.login-box h6 {
  color: #fff;
  font-family: source_sans_proregular;
  font-size: 14px;
  font-weight: normal;
  margin: 3px 0 15px;
}
p.field{
	margin-top:0;
	margin-bottom:8px;
	
}
p.field input{
	width:94%;
	padding:3%;
	font-size:12px;
	
}
p.submit{
	margin:0;
}

p.submit input {
  background: #463826 none repeat scroll 0 0;
  border: medium none;
  border-radius: 10px;
  color: #fff;
  font-family: source_sans_prosemibold;
  padding: 10px 35px;
  text-transform: uppercase;
}


footer{
	position: absolute;
	bottom: 0;
	color:#fff;
	background:rgba(221,201,179,.5);
	text-align:center;
	height:60px;
	line-height:60px;
	width:100%;
	left:0;
	font-size:10px;
	font-family:Arial;
	margin: 0;
}

footer .flogo{
	position:absolute;
	left:30px;
	top:13px;
	
}

header.dashboard{
	background:#f3ece4;
	height:130px;

}



header.dashboard nav{
	float:left;
	margin-top:50px;
}


header.dashboard nav ul{
	margin:0;
	padding:0;
	list-style:none;
	
}
header.dashboard .top-bar{
	background:#50403b;
	height:15px;
	
}

header.dashboard ul li {
	margin-right:25px;
	float:left;
	
}


header.dashboard ul li a{
	padding:0 10px;
	line-height:40px;
	text-decoration:none;
	font-size:12px;
	color:#50403b;
	display:block;
	font-family:Myriad Pro;
	font-weight:600;
}
header.dashboard ul li a:hover, header.dashboard ul li.active a{
	border-bottom:2px solid #d2b79a;
	
}

header.dashboard .header-right{
	margin-top:50px;
	float:right;
	margin-right:25px;
}

header.dashboard .header-right ul{
	margin:0;
	padding:0;
	list-style:none;
}

header.dashboard .header-right ul li{
	float:left;
  margin-left: 30px;
    margin-right: 0;
}
header.dashboard .header-right ul li a{
		padding:0 10px;
	line-height:40px;
	text-decoration:none;
	font-size:12px;
	color:#50403b;
	display:block;
	font-family:Myriad Pro;
		font-weight:600;

}
header.dashboard .header-right .search{
	margin-top:5px;
	
}

header.dashboard .header-right .flag{
	margin-top:10px;
	
}
header.dashboard .header-right .search input[type="text"]{
	background:#fff;
	border:2px solid #dac4ad;
	 float: left;
    height: 17px;
    padding: 5px;	
	
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
header.dashboard .header-right .search input[type="text"]{
    height: 14px;
	
}


}
header.dashboard .header-right .search input[type="submit"]{
	background:url(../images/search-icon.png) no-repeat center #dac4ad;
	padding:10px;
	font-size:0;
	float:left;
	padding:14px 10px;
	border:none;

	
}

body.dashboard #content h2{
	font-size:23px;
	color:#967565;
	font-weight:normal;
	margin-top:70px;
	margin-bottom:13px;
	
}
body.dashboard #content p{
	font-size:14px;
	color:#967565;
	margin-top:0;
	margin-bottom:30px;
	
}

.user-nav {
  background: #ddc9b3 none repeat scroll 0 0;
  border-radius: 7px;
  float: left;
  padding: 40px 25px;
  width: 100%;
}

.user-nav ul{
	margin:0;
	padding:0;
	list-style:none;
	
}


.user-nav ul li{
	background:#d2b79a;
	float:left;
	height:160px;
	color:#fff;
	width:169px;
	padding:20px;
	margin-right:15px;
}

.user-nav ul li:hover{
	background:#774d3a;
	
}

.user-nav ul li a, .user-nav ul li:hover a {
  color: #fff;
  display: block;
  float: left;
  text-decoration: none;
  width: 100%;
}

.user-nav ul li:last-child{
	margin-right:0;
}


.user-nav ul li .icon{
	float:right;
	
}
.user-nav ul li h3 {
  border-bottom: 2px solid;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: 110px;
  padding-bottom: 5px;
}

.user-nav ul li h5{
	margin:0;
	font-size:13px;
	
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}